<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Top Artist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if(artists.length > 0){ @for(artist of artists; track $index){

  <app-card
    styles="music"
    [img]="artist.avatar"
    [title]="artist.fullname"
    [idDocument]="artist.arttistId"
    class="p-3"
  ></app-card>
  } }@else{
  <div class="text-center text-gray-500 py-40">Aucune musique disponible</div>
  }
</ion-content>
