
.container {
    display: flex;
    flex-direction: column;
    height:100vh;
    .header{
        
        padding: 2vh;
   
        .title {
            flex-grow: 1;
            text-align: center;
          }
          
          .ellipse {
            flex-shrink: 0;
          }
    }
    
    .content{
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;
    }
}