<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/playlist"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end" class="text-2xl -mt-3 mr-3">
      ...<!-- Remplir avec des éléments de bouton supplémentaires si nécessaire -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="flex-col py-2">
    <div>
      <img
        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
        class="rounded-xl h-80 w-full object-cover sm:h-96 md:h-80 lg:h-96"
      />
    </div>
    <div class="flex mt-6">
      <div class="pl-3 flex-col">
        <div class="font-bold text-lg">Island Getaway</div>
        <div class="text-gray-600 text-sm">Olivia Lyric</div>
      </div>

      <div class="flex ml-auto">
        <div
          class="w-11 h-11 border-2 border-gray-300 rounded-full flex items-center justify-center"
        >
          <ion-icon
            name="heart-outline"
            class="text-gray-900 text-2xl"
          ></ion-icon>
        </div>
        <div
          class="w-11 h-11 border-2 border-gray-300 rounded-full flex items-center justify-center"
        >
          <ion-icon
            name="share-social-outline"
            class="text-gray-900 text-2xl"
          ></ion-icon>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <div class="relative">
        <div
          class="bg-gray-300 transition-all duration-500 dark:bg-slate-700 rounded-full overflow-hidden w-80 ml-2 sm:w-full"
        >
          <div
            class="bg-primary transition-all duration-500 dark:bg-primary-500 rounded-full w-1/2 h-2"
            role="progressbar"
            aria-label="music progress"
            aria-valuenow="1456"
            aria-valuemin="0"
            aria-valuemax="4550"
          ></div>
        </div>
        <div
          class="ring-2 ring-[#15ab90] transition-all duration-500 absolute left-1/2 top-1/2 w-4 h-4 -mt-2 -ml-2 max-[350px]:ml-3 flex items-center justify-center bg-white rounded-full shadow"
        ></div>
      </div>
      <div
        class="flex justify-between text-sm leading-6 font-medium tabular-nums"
      >
        <div
          class="text-slate-600 transition-all duration-500 dark:text-slate-100 ml-2"
        >
          3:12
        </div>
        <div
          class="text-slate-500 transition-all duration-500 dark:text-slate-400 mr-2"
        >
          4:37
        </div>
      </div>
    </div>

    <div class="flex mt-2 text-3xl gap-8 ml-7 sm:justify-between">
      <ion-icon name="repeat-outline" class="text-gray-600"></ion-icon>
      <div>
        <ion-icon
          name="play-skip-back-outline"
          class="text-secondary"
        ></ion-icon>
      </div>
      <div
        class="w-11 h-11 -mt-2 bg-primary rounded-full flex items-center justify-center"
      >
        <ion-icon name="pause-outline" class="text-white"></ion-icon>
      </div>
      <div>
        <ion-icon
          name="play-skip-forward-outline"
          class="text-secondary"
        ></ion-icon>
      </div>
      <ion-icon name="shuffle-outline" class="text-gray-500"></ion-icon>
    </div>

    <div class="mt-7 bg-gray-300 rounded-3xl p-3">
      <div class="flex gap-36 ml-6 text-sm leading-6 font-medium tabular-nums">
        <div class="text-xl">Lyrics</div>
        <div class="text-xl ml-8">
          <ion-icon name="expand-outline"></ion-icon>
        </div>
      </div>

      <div
        class="text-slate-600 transition-all duration-500 dark:text-slate-100 mt-3 h-32 overflow-y-auto"
      >
        Pour utiliser l'Application, vous devez avoir au moins 12 ans et
        disposer de la capacité juridique pour conclure un contrat. Vous devez
        créer un compte en fournissant des informations exactes et complètes, et
        mettre à jour ces informations si nécessaire. Pour utiliser
        l'Application, vous devez avoir au moins 12 ans et disposer de la
        capacité juridique pour conclure un contrat. Vous devez créer un compte
        en fournissant des informations exactes et complètes, et mettre à jour
        ces informations si nécessaire. Pour utiliser l'Application, vous devez
        avoir au moins 12 ans et disposer de la capacité juridique pour conclure
        un contrat. Vous devez créer un compte en fournissant des informations
        exactes et complètes, et mettre à jour ces informations si nécessaire.
        Pour utiliser l'Application, vous devez avoir au moins 12 ans et
        disposer de la capacité juridique pour conclure un contrat. Vous devez
        créer un compte en fournissant des informations exactes et complètes, et
        mettre à jour ces informations si nécessaire. Pour utiliser
        l'Application, vous devez avoir au moins 12 ans et disposer de la
        capacité juridique pour conclure un contrat. Vous devez créer un compte
        en fournissant des informations exactes et complètes, et mettre à jour
        ces informations si nécessaire. Pour utiliser l'Application, vous devez
        avoir au moins 12 ans et disposer de la capacité juridique pour conclure
        un contrat. Vous devez créer un compte en fournissant des informations
        exactes et complètes, et mettre à jour ces informations si nécessaire.
        Pour utiliser l'Application, vous devez avoir au moins 12 ans et
        disposer de la capacité juridique pour conclure un contrat. Vous devez
        créer un compte en fournissant des informations exactes et complètes, et
        mettre à jour ces informations si nécessaire.
      </div>
    </div>
  </div>
</ion-content>
