<div *ngFor="let item of items; let index = index">
  <div class="flex py-2">
    <div>
      <img
        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
        width="70"
        height="70"
        class="rounded-lg"
      />
    </div>

    <div class="pl-3 flex-col">
      <div class="font-bold">Music {{ index }}</div>
      <div class="text-gray-500 text-sm">Randy Stanton</div>
    </div>

    <div class="flex ml-auto mt-14">
      <div
        class="w-6 h-6 border-2 border-gray-400 rounded-full flex items-center justify-center"
      >
        <ion-icon name="heart-outline" class="text-gray-800"></ion-icon>
      </div>
      <div
        class="w-6 h-6 border-2 ml-2 border-gray-400 rounded-full flex items-center justify-center"
      >
        <ion-icon name="share-social-outline" class="text-gray-800"></ion-icon>
      </div>
    </div>
  </div>
  <hr />
</div>
<!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll> -->
