<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="pad-15">
        <ion-col>
      <img class="logo" src="..\assets\icon\spotymike.png" alt="">
    </ion-col>
    </ion-row>
 
    <ion-row >
      <ion-col>
        <div class="form-container">
          
<form class="form " [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
  <ion-list>
    <ion-item>
      <ion-input type="email" name="email" label="email" labelPlacement="floating" formControlName="email" placeholder="hi@ionic.io">
        <div slot="label">Email </div>
      </ion-input>
    </ion-item>
    <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
      <div *ngIf="form.get('email')?.errors?.['required']">
        <p class="error">Email is required</p>
      </div>
      <div *ngIf="form.get('email')?.errors?.['pattern']">
        <p class="error">Email format is invalid</p>
      </div>
    </div>
    <ion-item>
      <ion-input type="password" name="password" label="password" formControlName="password" labelPlacement="stacked" placeholder="hi@ionic.io">
        <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>
  
    
    <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
      <div *ngIf="form.get('password')?.errors?.['required']">
        <p class="error">Password is required</p>
      </div>
      <div *ngIf="form.get('password')?.errors?.['minlength']">
        <p class="error">Password must be at least 8 characters long</p>
      </div>
      <div *ngIf="form.get('password')?.errors?.['pattern']">
        <p class="error">Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character</p>
      </div>
    </div>
    <ion-item>
      <ion-input type="email" name="email" label="email" labelPlacement="floating" formControlName="email" placeholder="hi@ionic.io">
        <div slot="label">Email </div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" name="email" label="email" labelPlacement="floating" formControlName="email" placeholder="hi@ionic.io">
        <div slot="label">Email </div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" name="email" label="email" labelPlacement="floating" formControlName="email" placeholder="hi@ionic.io">
        <div slot="label">Email </div>
      </ion-input>
    </ion-item>
    
  </ion-list>
</div>
<div class="righted">
 
</div>
<div class="centered">
  <button class="connexion-btn" type="submit" >S'inscrire</button>
  <p (click)="goToConnexion()">Deja un compte ?</p>
</div>
</form>
</div>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
