<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{nameCategory}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if(songs.length > 0){ @for(song of songs; track $index){

  <app-card
    styles="music"
    [img]="song.cover"
    [title]="song.title"
    [idArtist]="song.idArtist"
    [idDocument]="song.idDocument"
    class="p-3"
  ></app-card>
  } }@else{
  <div class="text-center text-gray-500 py-40">Aucune musique disponible</div>
  }
</ion-content>
