<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>
    Veuillez entrer votre mail de connexion pour pouvoir recevoir un mail de
    réinitialisation de mot de passe
  </p>
  <ion-item>
    <div class="mt-4">
      <input
        class="border-gray-400 focus:ring-green-700 focus:border-primary w-full py-2 px-3 h-14 text-gray-700 mb-3 leading-tight"
        id="prenom"
        formControlName="email"
        type="email"
        placeholder="email *"
      />
    </div>
  </ion-item>
</ion-content>
